
@media screen and (max-width: 1920px) {/*posicion del carrito en pc*/
.minicartContainer{
    position: relative ;
    left: -60%;
}
}
@media screen and (max-width: 1024px) {/*posicion del carrito en movil*/
.minicartContainer{
    position: relative;
    left: -28%;
    }
}
@media screen and (min-width: 780px) {/*posicion del carrito en movil*/
.minicartWrapperContainer{
    margin-left: 60px;
    left: -1%;
}
}

.minicartContainer :global(.vtex-button)::after {/*Quitar el texto de carrito*/
    content: none !important;
}
