
@media screen and (max-width: 1600px) { /*maximo hasta 1600 tome este css*/
    .label.label--link-mediterraneo{
        position: absolute;
        bottom: 510px;            /* distancia desde abajo */
        left: 77%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (min-width: 1920px) { /*Query para pc Mediterraneo*/
    .label.label--link-mediterraneo{
        position: absolute;
        bottom: 730px;            /* distancia desde abajo */
        left: 77%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}


@media screen and (max-width: 1600px) { /*Query para portatil White Collection*/
    .label.label--link-white-collection{
        position: absolute;
        bottom: 310px;            /* distancia desde abajo */
        left: 74%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (min-width: 1920px) { /*Query para pc White Collection*/
    .label.label--link-white-collection{
        position: absolute;
        bottom: 460px;            /* distancia desde abajo */
        left: 75%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (max-width: 1600px) { /*Query para portatil blusones*/
    .label.label--link-blusones{
        position: absolute;
        bottom: 280px;            /* distancia desde abajo */
        left: 25%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (min-width: 1920px) { /*Query para pc blusones*/
    .label.label--link-blusones{
        position: absolute;
        bottom: 420px;            /* distancia desde abajo */
        left: 26%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (max-width: 1600px) { /*Query para portatil caribbean*/
    .label.label--link-caribbean{
        position: absolute;
        bottom: 350px;            /* distancia desde abajo */
        left: 72%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: green !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    } 
}
@media screen and (min-width: 1920px) { /*Query para pc caribbean*/
    .label.label--link-caribbean{
        position: absolute;
        bottom: 520px;            /* distancia desde abajo */
        left: 72%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: green !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    } 
}
@media screen and (max-width: 1600px) { /*Query para portatil Fiestas y eventos*/
    .label.label--link-fiestas-eventos{
        position: absolute;
        bottom: 300px;            /* distancia desde abajo */
        left: 80%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    } 
}
@media screen and (min-width: 1920px) { /*Query para pc Fiestas y eventos*/
    .label.label--link-fiestas-eventos{
        position: absolute;
        bottom: 430px;            /* distancia desde abajo */
        left: 80%;               /* lo empuja al centro */
        transform: translateX(-50%);
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    } 
}
/*Slider Principal Movil*/
.label.label--link-banner-movil{ /*Los botones de comprar siempre estaran centrados abajo en moviles*/
position: absolute;
background-color:white;
left: 50%;               /* lo empuja al centro */
bottom: 60px;            /* distancia desde abajo */
transform: translateX(-50%);
font-size: 12px;
color: #000 !important;
padding: 8px 18px;
border-radius: 8px;
text-transform: uppercase;
font-weight: bold;
text-decoration: none;
display: inline-block;
border-radius: 2em;
}

/*Slider de categorias */
.label.label--link-categorias{ /*Los textos de las categorias siempre estaran centrados abajo en moviles*/
  position: absolute;
  bottom: 60px;            /* distancia desde abajo */
  left: 50%;               /* lo empuja al centro */
  transform: translateX(-50%);
  text-decoration: none;
  color: white !important;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}


/*Slider de Categorias 2*/
.label.label--link-categorias2{
    position: absolute;
    bottom: 60px;            /* distancia desde abajo */
    left: 50%;               /* lo empuja al centro */
    transform: translateX(-50%);
    text-decoration: none;
    color: white !important;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1366px) { /*Query para portatil descuento*/
    .label.label--link-totalLook{
        position: absolute;
        bottom: 225px;            /* distancia desde abajo */
        left: 64%;               /* lo empuja al centro */
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (max-width: 1025px) { /*Query para tablet descuento*/
    .label.label--link-totalLook{
        position: absolute;
        bottom: 100px;            /* distancia desde abajo */
        left: 61%;               /* lo empuja al centro */
        font-size: 15px;
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (min-width: 1920px) { /*Query para pc descuento*/
    .label.label--link-totalLook{
        position: absolute;
        bottom: 350px;            /* distancia desde abajo */
        left: 65%;               /* lo empuja al centro */
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (max-width: 1366px) { /*Query para portatil descuento 25%*/
    .label.label--link-25porciento{
        position: absolute;
        bottom: 225px;            /* distancia desde abajo */
        left: 20%;               /* lo empuja al centro */
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
@media screen and (max-width: 1025px) { /*Query para Tablet descuento 25%*/
    .label.label--link-25porciento{
        position: absolute;
        bottom: 100px;            /* distancia desde abajo */
        left: 17%;               /* lo empuja al centro */
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}

@media screen and (min-width: 1920px) { /*Query para pc descuento*/
    .label.label--link-25porciento{
        position: absolute;
        bottom: 350px;            /* distancia desde abajo */
        left: 23%;               /* lo empuja al centro */
        background-color:white;
        color: #000 !important;
        padding: 12px 24px;
        border-radius: 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        border-radius: 2em;
    }
}
