
/*.infoCardContainer:hover{
    transform: scale(1.2) */
@media screen and (max-width: 640px) {
.logoLink::after{
    font-size: 30px;
    bottom: 2px;


    }
}
.searchBarIcon.searchBarIcon--busqueda-icono.searchBarIcon--search.searchBarIcon--busqueda-icono--search{
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWMQOilTEUTeB44EQbjzNntwxJfqN21fYJuw&s');
  background-size: contain;
  background-repeat: no-repeat;
}
.searchIcon.searchIcon--busqueda-icono{
    display: none;
}
.searchBarContainer{
    margin-left: auto;
    margin-right: auto;
}
.imageElement.imageElement--components-images-rastreo{
    display: none;
}
@media screen and (max-width: 1366px) {
    .imageElementLink.imageElementLink--image-footer{
        font-size: 15px;
        margin-top: 200px;
        margin-left: 1px;
        width: 500%;
    }
}
@media screen and (max-width: 640px) {
    .imageElementLink.imageElementLink--image-footer{/*Posicion de la imagen del footer de movil*/
        font-size: 1px;
        margin-top: 20px;
    }
}

.imageElement.imageElement--vtex{ /*logito de vtex*/
    display: none;
}
.imageElement.imageElement--jump{ /*logito de jump*/
    display: none;
}
