.strong.strong--rich-recomendados{
  text-align: center;
  font-size: 25px;
}
.paragraph.paragraph--rich-recomendados{ /*Paragraph de productos recomendados*/
  margin-top: auto;
}
.paragraph.paragraph--rich-footer{
  font-size: 25px;
  color: #000000;
}
.italic.italic--rich-footer{
  font-size: 12px;
  font: "t-heading-1"
}
.container.container--rich-recomendados{/*Centrar el contenedor de recomendados*/
  display: flex;
  justify-content: center;  
  align-items: center;      
}
.container.container--rich-footer{/*Centrar contenedor de derechos reservados*/
  display: flex;
  justify-content: center;  
  align-items: center; 
}
@media screen and (max-width: 640px) {/*Query del rich copyright*/
  .italic.italic--rich-footer{ /*Posicion del rich copyright*/
    font-size: 10px;
  }
}
@media screen and (max-width: 640px) {/*Query del rich copyright*/
  .container.container--rich-footer{ /*Posicion del rich copyright*/
    position: relative;
    margin-top: 1px;
  }
}
@media screen and (max-width: 640px) { /*Ajustar rich text recomendados para movil*/
.strong.strong--rich-recomendados{
  margin-left: 100px;
  font-size: 18px;

  }
}
@media screen and (max-width: 640px) {/*para celular se desaparecera el rich text de recomendados*/
  .container.container--rich-recomendados{
    display: none;
  }
}